@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-principal: #005C53;
    --clr-principal-claro: #9FC131;
    --clr-principal-oscuro: #042940;
    --clr-lima: #DBF227;
    --clr-beige: #D6D58E;
    --clr-blanco: #ececec;
    --clr-gris: #e2e2e2;
    --clr-gris-claro: #CACACA;
    --clr-gris-oscuro: #878787;
    --clr-rojo: #961818;
    --clr-blanco-crema: rgba(230, 230, 230, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}