header {
    background-color: var(--color-blanco-crema);
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header-izda,
.footer-izda {
    display: flex;
    align-items: center;
    position: relative;
}

.header-dcha,
.footer-dcha {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
}

.logo {
    background-image: url(/imagenes/logoMercatto.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--color-blanco-crema);
    display: inline-block;
    height: 40px;
    width: 220px;
    cursor: pointer;
}

.buscador {
    height: 40px;
    display: block;
    text-align: center;
    width: 50%;
    min-width: 220px;
    position: relative;
}

nav {
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: var(--color-principal-oscuro);
    padding: .75rem;
}

.active,
.carrito {
    display: block;
    border-radius: .5rem;
}

.active,
nav a:hover {
    background-color: var(--color-principal-claro);
    border-radius: .5rem;
}

.carrito {
    background-color: var(--color-principal-oscuro);
    color: var(--color-blanco-crema)
}

.carrito:hover {
    background-color: var(--color-principal-claro);
    color: var(--color-principal-oscuro);
}

.numerito {
    background-color: var(--color-white);
    color: var(--color-main);
    padding: 0 .3rem;
    border-radius: .25rem;
}

footer {
    background-color: var(--color-blanco);
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    border-top: .5px solid var(--color-blanco-crema);
}

.copyright {
    color: var(--color-gris-oscuro);
}

footer a {
    color: var(--color-gris-oscuro);
    padding: .75rem;
}

footer a:hover {
    color: var(--color-principal-oscuro);
}

/* SECCIÓN PRINCIPAL */
main {
    background-color: var(--color-blanco);
    padding: 3rem 8rem;
    margin-top: 3.5rem;
}

#seccion-ofertas {
    border-top: .5px solid var(--color-gris-claro);
}

.titulo-principal {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: 400;
}

.titulo-secundario {
    margin-top: .5rem;
    font-size: .9rem;
    font-weight: 200;
    color: var(--color-gris-oscuro);
}

#contenedor-ofertas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    margin: 2rem 0;
}

.producto {
    background-color: var(--color-blanco);
    border: .5px solid var(--color-gris-claro);
    border-radius: 1rem;
}

.producto-imagen {
    /* Así no ocupan más del 100% del tamaño de su padre, que es la celda del grid */
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    color: var(--color-white);
    padding: .5rem;
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-descripcion {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    height: 50px;
}

.producto-cantidad {
    font-size: .85rem;
    font-weight: 400;
    color: var(--color-gris-oscuro);
}

.producto-precio {
    margin-top: .5rem;    
}

.producto-precio-anterior {
    text-decoration: line-through;
    font-size: .9rem;
}

.producto-precio-actual {
    font-size: 1.2rem;
    color: var(--color-rojo);
    font-weight: bold;
}

.producto-agregar {
    margin-top: 1rem;
    background-color: var(--color-white);
    color: var(--color-principal-oscuro);
    text-align: center;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--color-gris-oscuro);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--color-principal-oscuro);
    color: var(--color-blanco);
    border: 2px solid var(--color-principal-oscuro);
}